*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #85C1E9;
}


.hill{
    position: absolute;
    bottom: 0px;
    height: 70%;
    width: 100%;
    z-index: 3;
}

.sun{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgb(243,156,18);
    box-shadow: 0px 0px 15px rgb(243,156,18),
    0px 0px 15px rgb(243,156,18);
    z-index: 2;
    animation: anime1 10s linear forwards;
}


@keyframes anime1{
    0%{
        top: 50%;
        box-shadow: 0px 0px 15px rgb(243,156,18),
    0px 0px 15px rgb(243,156,18);
    background: rgb(243,156,18);
    }
    100%{
        top: 8%;
        background: rgb(255,255,0);
        box-shadow: 0px 0px 50px rgb(255,255,0),
        0px 0px 150px rgb(255,255,0);
    }
}

.dark{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 5;
    background: rgba(13, 19, 24, 0.7);
    animation: anime2 10s linear forwards;
}
@keyframes anime2{
    0%{
        background: rgba(13, 19, 24, 0.7);
    }
    100%{
        background: rgba(13, 19, 24, 0);
    }
}

.cloud{
    height: 50px;
    position: absolute;
    top: 15%;
    left: -10%;
    animation: anime3 10s linear forwards;
}

@keyframes anime3{
    0%{
        left: -10%;
    }
    100%{
        left: 30%;
    }
}

.birds{
    position: absolute;
    left: -15%;
    top: 20%;
    width: 140px;
    height: 70px;
    animation: anime4 10s linear forwards;
    z-index: 4;
}

@keyframes anime4{
    0%{
        left: -15%;
        top: 20%;
    }
    35%{
        top: 40%;
    }
    100%{
        left: 120%;
        top: 20%;
    }
}

h1{
    position: absolute;
    left: -21%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: wheat;
    background: rgba(102,51,153,0.6);
    animation: anime5 0.4s ease-in 11s forwards;
    border-radius:10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
    z-index: 7;
    padding: 10px;
}

@keyframes anime5{
    0%{
        left: -21%;
    }100%{
        left: 50%;
    }
}

